<section>
    <h1>Список услуг:</h1>
</section>
<table class="table">
    <thead>
    <tr>
        <th>id</th>
        <th>Название</th>
        <th>Стоимость</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    {{#each services}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.cost}}</td>
            <td>
                <div class="actions">
                    <a class="edit" href="edit/{{this.id}}">
                        <img src="../images/edit.svg" alt="edit">
                    </a>
                    <a href="delete/{{this.id}}" class="edit">
                        <input type="image" src="../images/delete.svg" name="delete" alt="delete"/>
                    </a>
                </div>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
