<section>
    <h1>Редактирование работника №{{worker.id}}:</h1>
    <form method="post">
        <div class="edit-section">
            <div class="field">
                <span class="field__header">Фамилия</span>
                <input
                        class="field__input"
                        type="text"
                        value="{{worker.last_name}}"
                        name="secondName"
                >
            </div>
            <div class="field">
                <span class="field__header">Имя</span>
                <input
                        class="field__input"
                        type="text"
                        value="{{worker.name}}"
                        name="firstName"
                >
            </div>
            <div class="field">
                <span class="field__header">Отчество</span>
                <input
                        class="field__input"
                        type="text"
                        value="{{worker.patronymic}}"
                        name="patronymic"
                >
            </div>
            <div class="field">
                <span class="field__header">Должность</span>
                <input
                        class="field__input"
                        type="text"
                        value="{{worker.post}}"
                        name="post"
                >
            </div>
            <div class="field">
                <span class="field__header">Email</span>
                <input
                        class="field__input"
                        type="text"
                        value="{{worker.email}}"
                        name="email"
                >
            </div>
            <div class="field">
                <span class="field__header">Телефон</span>
                <input
                        class="field__input"
                        type="text"
                        value="{{worker.phone}}"
                        name="phone"
                >
            </div>
            <div class="field">
                <span class="field__header">Адрес</span>
                <input
                        class="field__input"
                        type="text"
                        value="{{worker.address}}"
                        name="address"
                >
            </div>
            <div class="field">
                <span class="field__header">Серия/номер паспорта</span>
                <input
                        class="field__input"
                        type="text"
                        value="{{worker.passport}}"
                        name="passport"
                >
            </div>
            <div class="field">
                <span class="field__header">Логин</span>
                <input
                        class="field__input"
                        type="text"
                        value="{{worker.login}}"
                        name="login"
                >
            </div>
            <div class="field">
                <span class="field__header">Пароль</span>
                <input
                        class="field__input"
                        type="text"
                        value="{{worker.password}}"
                        name="password"
                >
            </div>

            <div class="actions-wrapper">
                <input type="submit" value="Сохранить информацию">
                <a href="/workers/delete/{{worker.id}}" class="btn-delete">Удалить запись</a>
            </div>
        </div>
    </form>
</section>
